
*.iml
.idea/editor.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-f9bae55e287fe38e4886.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-3dc5f82ac32b03ee447c.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-4b5a831836d7c32f157e.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-12-07T14-19-26-0651.json
cmake-build-debug/.cmake/api/v1/reply/target-LinuxShellProject-Debug-de691994588c1899804e.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-54b06e8405ab6a6aea0c.json
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.30.5/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
CMakeLists.txt
